@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* Новые переменные шкалы цветов */
        --gray-50: 60 9.1% 97.8%;
        --gray-100: 60 4.8% 95.9%;
        --gray-200: 20 5.9% 90%;
        --gray-300: 24 5.7% 82.9%;
        --gray-400: 24 5.4% 63.9%;
        --gray-500: 25 5.3% 44.7%;
        --gray-600: 33.3 5.5% 32.4%;
        --gray-700: 30 6.3% 25.1%;
        --gray-800: 12 6.5% 15.1%;
        --gray-900: 24 9.8% 10%;
        --gray-950: 20 14.3% 4.1%;

        /* Существующие семантические переменные */
        --background: var(--gray-50);
        --foreground: var(--gray-950);
        --card: 0 0% 100%;
        --card-foreground: var(--gray-950);
        --popover: 0 0% 100%;
        --popover-foreground: var(--gray-950);
        --primary: var(--gray-900);
        --primary-foreground: var(--gray-50);
        --secondary: var(--gray-100);
        --secondary-foreground: var(--gray-900);
        --muted: var(--gray-100);
        --muted-foreground: var(--gray-500);
        --accent: var(--gray-100);
        --accent-foreground: var(--gray-900);
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: var(--gray-50);
        --border: var(--gray-200);
        --input: var(--gray-200);
        --ring: var(--gray-950);

        --radius: 0rem;
    }

    .dark {
        /* Переопределение для темной темы */
        --background: var(--gray-950);
        --foreground: var(--gray-50);
        --card: var(--gray-950);
        --card-foreground: var(--gray-50);
        --popover: var(--gray-950);
        --popover-foreground: var(--gray-50);
        --primary: var(--gray-50);
        --primary-foreground: var(--gray-900);
        --secondary: var(--gray-800);
        --secondary-foreground: var(--gray-50);
        --muted: var(--gray-800);
        --muted-foreground: var(--gray-400);
        --accent: var(--gray-800);
        --accent-foreground: var(--gray-50);
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: var(--gray-50);
        --border: var(--gray-800);
        --input: var(--gray-800);
        --ring: var(--gray-300);
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

html {
    min-width: 360px;
    scrollbar-gutter: stable;
}

body {
    text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

pre {
    background-color: #16161e;
    border-radius: 0.5rem;
    overflow-x: auto;
    padding: 1rem;
    margin: 1.5rem 0;
    line-height: 1;
}

pre::-webkit-scrollbar {
    display: none;
}

pre {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

code {
    font-family: "Menlo", "Monaco", "Courier New", monospace;
    font-size: 14px;
    padding: 0.2em 0.4em;
    border-radius: 0.3em;
    background-color: var(--color-gray-100);
}

pre code {
    background-color: transparent;
    padding: 0;
    border: none;
    font-size: 14px;
    line-height: 1.5;
}

pre code > span .sh__token--identifier {
    color: white !important;
}

code:not(pre code) span {
    font-weight: 500;
    color: black !important;
}

pre code span {
    font-weight: 500;
}

hr {
    color: var(--color-gray-200);
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

table {
    display: block;
    max-width: fit-content;
    overflow-x: auto;
    white-space: nowrap;
}

.transition-element {
    view-transition-name: lee;
}

::view-transition-old(lee) {
    animation: fade-out 0.8s ease-in-out;
}

::view-transition-new(lee) {
    animation: fade-in-up 0.4s ease-in-out;
}

@keyframes fade-out {
    0% {
        transform: translateY(0) translateX(-0.2px);
        opacity: 1;
        font-weight: 500;
    }

    20% {
        transform: translateY(24px) translateX(-0.2px);
        opacity: 0.5;
    }

    40% {
        transform: translateY(24px) translateX(-0.2px);
        opacity: 0.3;
    }

    60% {
        transform: translateY(24px) translateX(-0.2px);
        opacity: 0.2;
    }

    100% {
        transform: translateY(24px) translateX(-0.2px);
        opacity: 0;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    60% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in-up {
    0% {
        transform: translateY(24px) translateX(-0.2px);
        opacity: 0;
    }

    20% {
        transform: translateY(24px) translateX(-0.2px);
        opacity: 0.5;
    }

    80% {
        transform: translateY(0) translateX(-0.2px);
        opacity: 0.7;
    }

    100% {
        transform: translateY(0) translateX(-0.2px);
        opacity: 1;
    }
}

@supports (view-transition-name: none) {
    .fade-in {
        animation: fade-in 0.8s ease-in-out forwards;
        opacity: 0;
    }
}
