@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* Новые переменные шкалы цветов */
        --gray-50: 60 9.1% 97.8%;
        --gray-100: 60 4.8% 95.9%;
        --gray-200: 20 5.9% 90%;
        --gray-300: 24 5.7% 82.9%;
        --gray-400: 24 5.4% 63.9%;
        --gray-500: 25 5.3% 44.7%;
        --gray-600: 33.3 5.5% 32.4%;
        --gray-700: 30 6.3% 25.1%;
        --gray-800: 12 6.5% 15.1%;
        --gray-900: 24 9.8% 10%;
        --gray-950: 20 14.3% 4.1%;

        /* Существующие семантические переменные */
        --background: var(--gray-50);
        --foreground: var(--gray-950);
        --card: 0 0% 100%;
        --card-foreground: var(--gray-950);
        --popover: 0 0% 100%;
        --popover-foreground: var(--gray-950);
        --primary: var(--gray-900);
        --primary-foreground: var(--gray-50);
        --secondary: var(--gray-100);
        --secondary-foreground: var(--gray-900);
        --muted: var(--gray-100);
        --muted-foreground: var(--gray-500);
        --accent: var(--gray-100);
        --accent-foreground: var(--gray-900);
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: var(--gray-50);
        --border: var(--gray-200);
        --input: var(--gray-200);
        --ring: var(--gray-950);

        --radius: 0rem;
    }

    .dark {
        /* Переопределение для темной темы */
        --background: var(--gray-950);
        --foreground: var(--gray-50);
        --card: var(--gray-950);
        --card-foreground: var(--gray-50);
        --popover: var(--gray-950);
        --popover-foreground: var(--gray-50);
        --primary: var(--gray-50);
        --primary-foreground: var(--gray-900);
        --secondary: var(--gray-800);
        --secondary-foreground: var(--gray-50);
        --muted: var(--gray-800);
        --muted-foreground: var(--gray-400);
        --accent: var(--gray-800);
        --accent-foreground: var(--gray-50);
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: var(--gray-50);
        --border: var(--gray-800);
        --input: var(--gray-800);
        --ring: var(--gray-300);
    }
}
